FOUNDRY_PROJECT_ENDPOINT="https://<account>.services.ai.azure.com/api/projects/<project>"
AZURE_AI_MODEL_DEPLOYMENT_NAME="gpt-4o"
TOOLBOX_NAME=agent-tools
TOOLBOX_VERSION=1

# Secrets for a service principal with the Foundry user permissions, allows for running the code normally within the container & injecting appropriate priviledges
AZURE_CLIENT_ID=""
AZURE_TENANT_ID=""
AZURE_CLIENT_SECRET=""

